spring:
  application:
    name: reports

  threads:
    virtual:
      enabled: true

  profiles:
    active: local

  springdoc:
    api-docs:
      enabled: true
    swagger-ui:
      enabled: true
      path: /swagger-ui.html
      operations-sorter: alpha
      tags-sorter: alpha
      disable-swagger-default-url: true
      doc-expansion: none
      show-actuator: true

server:
  address: ${SERVER_ADDRESS:}
  port: ${SERVER_PORT:}
  servlet:
    context-path: /
  compression:
    enabled: true
  error:
    include-message: always
    include-binding-errors: always

management:
  otlp:
    metrics:
      export:
        enabled: false

  opentelemetry:
    resource-attributes:
      service.name: ${spring.application.name}
      service.version: ${spring.application.version}

  endpoints:
    web:
      exposure:
        include: health, info, metrics

otel:
  instrumentation:
    micrometer:
      enabled: true
  exporter:
    otlp:
      traces:
        endpoint: ${OTEL_GRPC_ENDPOINT:}
        protocol: grpc
      metrics:
        endpoint: ${OTEL_GRPC_ENDPOINT:}
        protocol: grpc
      logs:
        endpoint: ${OTEL_GRPC_ENDPOINT:}
        protocol: grpc

azure:
  cosmos:
    endpoint: ${SPRING_AZURE_COSMOS_URI:}
    database: ${SPRING_AZURE_COSMOS_DATABASE:}
    key: ${SPRING_AZURE_COSMOS_KEY:}
  service-bus:
    connection-string: ${AZ_SVC_BUS_CONNECTION_STRING:}
  blob-storage:
    connection-string: ${AZURE_BLOB_STORAGE_CONNECTION_STRING:}
    video-container-name: ${AZURE_BLOB_STORAGE_VIDEO_CONTAINER_NAME:}
    image-container-name: ${AZURE_BLOB_STORAGE_IMAGE_CONTAINER_NAME:}

websocket:
  base-endpoint: ${WEBSOCKET_BASE_ENDPOINT:}